<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="shortcut icon" href="http://www.worldbank.org/content/dam/wbr/logo/wbg-favicon.png" type="image/png"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"
		/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<meta name="description" content=""/>
		<title>{{ page.title }} | Sovereign Environment Social Governance Data | World Bank</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.assetDir }}/css/loop.min.css">

		<link rel="stylesheet" type="text/css" href="{{ site.assetDir }}/css/clientlibs-wbrredsign.css">
		<link rel="stylesheet" type="text/css" href="{{ site.assetDir }}/css/style-min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.assetDir }}/css/custom2.css">
        <!--
		<link rel="stylesheet" type="text/css" href="{{ site.assetDir }}/css/clientlibs-wbrredsign.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.assetDir }}/css/custom.css">
        -->
{% include scripts.html %}
{% include analytics.html %}
	</head>

<body>

{% include wbg-header.html %}

{% if page.banner.title %}
	<!-- START main banner -->
	<div class="lp__banner_landing v1">
		<div class="lp__banner_fullwidth">
			<div class="lp__banner_img">
				<img src="{{ site.assetDir }}/img/{{ page.banner.image.filename }}" class="lp__img_responsive cover_image" alt="{{ page.banner.image.caption }}" title="Banner">
				<span class="img-gradient"></span>
			</div>
			<div class="container banner-container">
				<div class="row">
					<div class="lp__banner_img_overlay_v1 col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12">
						<h1 class="lp__banner_title">
                        {% if page.banner.pretitle %}
                        <span class="lp__banner_description">{{ page.banner.pretitle }}<br/></span>
                        {% endif %}
                        {{ page.banner.title }}</h1>
						<p class="lp__banner_description">{{ page.banner.subtitle }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END main banner -->
{% endif %}

  <div class="breadcrumb-section">
      <div class="container"><div class="row">
        <div class="col-sm-12">
            <div class="page-title">
            <ol class="breadcrumb_redesign">
                <li><a class="li-breadcrumb" href="http://data.worldbank.org">Data</a></li>
                <li><a href="index.html">Universal Health Coverage Data</a></li>
                <li>Corona</li>
            </ol>
            </div>
        </div>
      </div></div>
  </div>

<div class="full-row-white-components">
<div class="container">
<div class="row lp__body_content">
<div class="col-sm-12">
<center><h2>{{ page.title }}</h2></center>

{% capture intro_md %}{% include intro.md %}{% endcapture %}
{{ intro_md | markdownify }}

{% include indicators.html %}

{{ content }}

</div>
</div>
</div>
</div>

<!-- BEGIN FEATURES -->

{% assign boxes = 'box-left.md,box-middle.md,box-right.md' | split: ',' %}
<div class="feature-box">
<!-- BEGIN BOX-FEATURES -->
<div class="container">
<div class="container">
<h2><strong>Resources</strong></h2>
</div>
<div class="par parsys">
<div class="gridlayout parbase section">
<div class="row ">
{% for box in boxes %}
<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 colsplit" id="">
<div class=" ">
<div class="grid_4_par_2 parsys">
<div style="padding-left:0px;padding-right:0px;" class="remove-padding-grid">
<div class="redesign_Projectcard section">
<div class="lp__card loop_card_title_text_links">
<div class="lp__card_wrapper">
<div class="lp__card_content">
{% capture box_md %}{% include {{ box }} %}{% endcapture %}
{{ box_md | markdownify }}
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</div> <!-- class.row -->
<div class="clearfix"></div>
<div style="margin-bottom: 0px"></div>
</div> <!-- class.gridlayout parbase section -->
</div> <!-- class.par parsys -->
</div> <!-- class.container -->
<!-- END BOX-FEATURES -->
</div> <!-- class.feature-box -->
<!-- END FEATURES -->

{% if page.moreinfo %}
	<div class="lp__body_content full-row-gray-components">
		<div class="container">
				<div class="lp__card additional_resources_card">
					<div class="lp__card_wrapper" style="border-top: none;">
						<div class="lp__card_content">
							<div class="row">
								<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
									<div class="redesign_title text-center">
										<h4>Additional Resources</h4>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 loop_card_title_text_links">
									<ul class="lp__link_list more_resources">
{% for elem in page.moreinfo.left %}
                                      <li> <a href="{{ elem.link }}">{{ elem.title }}</a></li>
{% endfor %}
									</ul>
								</div>
								<div class="col-md-6 loop_card_title_text_links center-left-border">
									<ul class="lp__link_list more_resources">
{% for elem in page.moreinfo.right %}
                                      <li> <a href="{{ elem.link }}">{{ elem.title }}</a></li>
{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
{% endif %}

			<footer>
				<div class="full-row-footer-components">
					<div class="container">
						<div class="footer">
							<div class="footer-top">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
										<div class="footer-menu-item">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<ul>
														<li><a href="http://www.worldbank.org/en/about">About</a></li>
														<li><a href="http://data.worldbank.org">Data</a></li>
														<li><a href="http://www.worldbank.org/en/research">Research and Publications</a></li>
														<li><a href="https://olc.worldbank.org">Learning</a></li>
													</ul>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<ul>
														<li><a href="http://www.worldbank.org/en/news">News</a></li>
														<li><a href="http://projects.worldbank.org/?lang=en">Projects and Operations</a></li>
														<li><a href="http://www.worldbank.org/en/country">Countries</a></li>
														<li><a href="http://www.worldbank.org/en/topic">Topics</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End left column footer menu section -->
									<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
										<hr class="visible-sm visible-xs">
										<div class="row">
											<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
												<div class="social-icon">
													<h4> follow us</h4>
													<ul>

														<li>
															<a href="http://www.facebook.com/worldbank" class="social-icon-img"><img src="{{ site.assetDir }}/img/icons/fb.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="http://www.twitter.com/worldbank" class="social-icon-img"><img src="{{ site.assetDir }}/img/icons/twitter.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="http://www.linkedin.com/company/the-world-bank" class="social-icon-img"><img src="{{ site.assetDir }}/img/icons/linkedln.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="https://instagram.com/worldbank/" class="social-icon-img"><img src="{{ site.assetDir }}/img/icons/instagram.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="https://www.youtube.com/user/WorldBank" class="social-icon-img"><img src="{{ site.assetDir }}/img/icons/youtube.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="https://www.flickr.com/photos/worldbank" class="social-icon-img"><img src="{{ site.assetDir }}/img/icons/flickr.svg" alt="Image" class="img-responsive"></a>
														</li>

													</ul>
												</div>
											</div>
											<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
												<!--<hr class="visible-md visible-xs">-->
												<div class="footer-newsletter">
													<h4>newsletter</h4>
													<div class="search-section">
														<form action="http://www.worldbank.org/en/newsletter-subscription" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate input-group mySignUpFormDesktop" target="_blank" accept-charset="UTF-8" novalidate="">
															<input type="text" onfocus="value=''" placeholder="Enter email to subscribe..." class="search-input-field-1" id="fields_email" name="email" title="search" data-form="newsletter:subscription">
															<input class="search-submit-icon" name="subscribe" id="mc-embedded-subscribe" type="image" src="{{ site.assetDir }}/img/angle-right-white.svg" alt="listingsearch" data-form="newsletter:subscription">
														</form>
													</div>
												</div>
												<!-- Begin Language toggler -->
												<div class="row">
													<div class="col-lg-12">
														<!-- Begin Language toggler -->
														<div class="lang-switch-wrapper">
															<span>This Site in:</span>
															<div class="lang-switch">
																<ul>
																	<li class="dropdown dropup">
																		<a href="http://www.worldbank.org" class="dropdown-toggle lang-lable" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <img src="{{ site.assetDir }}/img/angle-down.svg"></a>
																		<ul class="dropdown-menu dropdown-item">
																			<li><a href="http://www.bancomundial.org">Español</a></li>
																			<li><a href="http://www.banquemondiale.org">Français</a></li>
																			<li><a href="http://www.albankaldawli.org">عربي</a></li>
																			<li><a href="http://www.vsemirnyjbank.org">Русский</a></li>
																			<li><a href="http://www.shihang.org">中文</a></li>
																			<li><a href="http://www.worldbank.org/en/language-resources">View All »</a></li>
																		</ul>
																	</li>
																</ul>
															</div>
														</div>

														<!-- End Language toggler -->
													</div>
												</div>
												<!-- End Language toggler -->
											</div>
										</div>
									</div>
									<!-- End right column footer follow and newsletter section -->
								</div>
							</div>
							<!-- End footer top row -->
							<div class="footer-bottom">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="list-inline">
											<ul>
												<li>
													<a class="disclaimer" href="http://www.worldbank.org/en/about/legal">Legal</a>
													<a class="disclaimer" href="http://www.worldbank.org/en/access-to-information">Access to Information</a>
													<a class="disclaimer" href="http://www.worldbank.org/jobs">Jobs</a>
													<a class="disclaimer" href="http://www.worldbank.org/en/about/contacts">Contact</a>
												</li>
											</ul>
										</div>
									</div>
									<!-- End disclaimer-->
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="footer-fraud"><a href="http://www.worldbank.org/en/about/unit/integrity-vice-presidency/report-an-allegation">REPORT FRAUD OR CORRUPTION</a></div>
									</div>
									<!-- End disclaimer and copy right -->
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- End footer Bottom row -->
				<div class="full-row-footer-black-components">
					<div class="container">
						<div class="footer">
							<div class="row">
								<div class="footer-bottom-left">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<ul>
											<li>
												<a href="http://www.worldbank.org/">
		                                        <img src="{{ site.assetDir }}/img/logo-wbg-footer-en.svg" title="The World Bank Working for a World Free of Poverty" alt="The World Bank Working for a World Free of Poverty"></a>
											</li>
											<li>
												<a class="wbg-partnership" title="International Bank for Reconstruction and Development" href="http://www.worldbank.org/en/who-we-are/ibrd">IBRD</a>
												<a class="wbg-partnership" title="International Development Association" href="http://www.worldbank.org/ida">IDA</a>
												<a class="wbg-partnership" title="International Finance Corporation" href="http://www.ifc.org/">IFC</a>
												<a class="wbg-partnership" title="Multilateral Investment Guarantee Agency" href="http://www.miga.org/">MIGA</a>
												<a class="wbg-partnership" title="International Centre for Settlement of Investment Disputes" href="http://icsid.worldbank.org/">ICSID</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- End logo and Wbg partnership -->
								<div class="footer-bottom-right">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="footer-copy-right">
											©
											<script language="JavaScript">
												<!-- Begin
												var time = new Date();
												var year = time.getYear();
												if (year < 2000)
													year = year + 1900;
												document.write(year); // End -->
											</script>
											The World Bank Group, All Rights Reserved.
										</div>

									</div>
								</div>
								<!-- End dropdown and fraud  -->
							</div>
						</div>
					</div>
				</div>
			</footer>
	<!-- Latest compiled and minified JavaScript -->
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
	<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
	<!-- <script src='js/megamenu-min.js' type="text/javascript"></script> -->

{% include javascript.html %}
	<script type="text/javascript"> _satellite.pageBottom(); </script>
</body>

</html>
